<ion-content>
   <ion-input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01"
    aria-describedby="inputGroupFileAddon01" multiple></ion-input> 

  <div class="container-img">
      <ion-img class="theImage" src="../../assets/autenticar.gif">
    
      </ion-img>
    <ion-button class="button_upload" value="UPLOAD" (click)="upload()">UPLOAD</ion-button>
    <ion-button class="button_verify" value="VERIFY" (click)="verify()">VERIFY</ion-button> 
  </div>

  



</ion-content>